.header-a {
    text-decoration: none;
    background-color: aqua;
    padding: 20px;
    display: block;
    text-align: center;
    display: block;
    border-radius: 20px;
    margin: 0px 15px

}

.header-a:hover {
    background-color: blue;

}
